.div {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.center {
    align-items: center;
    width: 100vw;
}

.left {
    align-items: start;
    width: 75vw;
    padding-left: 25vw;
}
